.profile {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center the items */
    margin: 0;
}

div img {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    overflow: hidden; /* Ensures the image does not overflow the container */
    border: 5px solid #FFF; /* Optional: Adds a border around the image */
    display: block;
    margin: 20px auto; /* Centers the image horizontally */
    position: relative;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 50px;
}

.distnce {
    display: flex;
    gap: 20px;
}

.txtkolord {
    color: blue;
    display: flex;
    align-items: center;
}

.daspacing {
    margin-right: 30px;
    margin-left: 30px;
}

.dasize {
    height: 50px;
    width: 50px;
}

.dafoot {
    margin-top: 50px;
    justify-content: center;
}


label{
    align-items: center;
    margin-bottom: 25px;
}

a {
    color: white; /* Set the default color of links to white */
    text-decoration: none; /* Remove underline from links */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    /* Header adjustments */
    header h3 {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }

    /* Profile image adjustments */
    .profile img {
        width: 50px;
        height: 50px;
    }

    /* Iframe adjustments */
    iframe {
        height: 600px; /* Adjust height for smaller screens */
    }
}
